# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\mypetstore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
*.md
/mvnw
/mvnw.cmd
/mypetstore.iml
/target/
